/*_responsive.scss */


/* Responsivitet med media queries */

@media all and (max-width: 300000px) {}

@media all and (max-width: 1000px) {
    column {
        width: 100%;
    }
    footer {
        margin: auto;
        width: 100%;
        text-align: center;
        .column {
            width: 100%;
            padding: 0;
            margin: 0;
            padding-bottom: 3%;
            padding-top: 3%;
        }
        .column2 {
            width: 100%;
            padding-bottom: 3%;
        }
        .column3 {
            width: 100%;
        }
        .bottomOffooter {
            padding: 1%;
            padding-top: 2%;
            z-index: -5;
        }
    }
}